{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            <i class="bi bi-folder-plus"></i> Add New Category
        </h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-between">
                <a href="{% url 'office-supply-list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Back to List
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save"></i> Save Category 
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
